body {
  background-color: rgb(255, 255, 255);
  font-style: normal;
  color: rgb(0, 0, 0);
  padding: 20px;
  font-family: "Orbit", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.2em;
  padding: 0;
  margin: -15px 0px 10px 0px;
}

p {
  font-size: 1.2em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.gallery {
  width: 45%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.gallery-item {
  width: 100%; /* 갤러리 아이템의 너비를 설정 */
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.gallery-item video {
  width: 100%;
  height: auto;
  display: block;

  transition: transform 0.2s;
}

.gallery-item video:hover {
  transform: scale(1.05);
}

.gallery-item p {
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 14px;
}

.iframe-overlay {
  position: absolute;
  background-color: aqua;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  /* Adjust the background transparency if needed */
}

.name {
  font-size: 1.1em;
  border: solid 1.5px black;
  padding: 3px 12px 6px 12px;
  border-radius: 6em;
  text-decoration: none;
  line-height: 3em;
}

.name:visited {
  color: black;
}

.name:hover {
  background-color: greenyellow;
  transition: 0.5s;
}

.icon {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: greenyellow;
  padding: 3px 12px 6px 12px;
  border-radius: 6em;
  font-size: 1em;
  pointer-events: none; /* Prevents icon from capturing hover events */
}

.hover-me a:hover:before {
  content: "❤️‍🔥";
}

.hover-me1 a:hover:before {
  content: "🌝";
}

.hover-me2 a:hover:before {
  content: "🥊";
}

.hover-me3 a:hover:before {
  content: "🎲";
}
.hover-me4 a:hover:before {
  content: "❤️‍🔥";
}
.hover-me5 a:hover:before {
  content: "🕊️";
}

.hover-me6 a:hover:before {
  content: "🫥";
}

.hover-me7 a:hover:before {
  content: "☕️";
}

.menu-toggle:hover {
  transform: scale(1.25);
}

.menu-toggle {
  cursor: pointer;
  border: none;
  color: none;
  background-color: white;
  font-size: 16px;
  transition: transform 0.2s;
  margin: 10px 0;
}

.menu {
  display: none;
  text-align: left;
  font-size: 14px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 5px;
}

.menu ul li a {
  text-decoration: none;
}

.menu.active {
  display: block;
}

#mainDiv {
  position: absolute;

  width: 100px;
  height: 100px;
  background-color: lightblue;
  top: 20px;
  right: 20px;
  cursor: grab;
}
