body {
  position: relative;
  background-color: rgb(255, 255, 255);
  font-style: normal;
  color: rgb(0, 0, 0);
  margin: 0;
  font-family: "Orbit", sans-serif;
/*  background: linear-gradient(180deg, rgba(173,255,47,1) 0%, rgba(0,0,0,0) 30%);*/
  overflow-x: hidden;
  overflow-y: scroll;
  height: fit-content;

}




header{
  position: sticky;
  top: 0px; /* 도달했을때 고정시킬 위치 */
  margin: 0;
  z-index: 5;
  padding: 30px 30px 10px 30px ;
}

.resizable-image{
  width: 30em;
  transition: width 0.3s ease, height 0.3s ease;
  position: relative;
  padding-bottom: 14px;

}


p {
  font-size: 0.9em;
}



.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  width: 100vw;
  z-index: 0;
}

.gallery {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.gallery-item {
  width: 100%; /* 갤러리 아이템의 너비를 설정 */
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.gallery-item video {
  width: 100%;
  height: auto;
  display: block;

  transition: transform 0.2s;
}

.gallery-item video:hover {
  transform: scale(1.05);
}

.gallery-item p {
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 0.9em;
}



.name {
  font-size: 1em;
  border: solid 1.5px black;
  padding: 3px 12px 6px 12px;
  border-radius: 6em;
  text-decoration: none;
  line-height: 3em;
  background-color: white;
}

.name:visited {
  color: black;
}

.name:hover {
  background-color: greenyellow;
  transition: 0.5s;
}

.icon {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: greenyellow;
  padding: 3px 12px 6px 12px;
  border-radius: 6em;
  font-size: 1.2em;
  pointer-events: none; /* Prevents icon from capturing hover events */
}

.hover-me a:hover:before {
  content: "❤️‍🔥";
}

.hover-me1 a:hover:before {
  content: "🌝";
}

.hover-me2 a:hover:before {
  content: "🥊";
}

.hover-me3 a:hover:before {
  content: "🎲";
}
.hover-me4 a:hover:before {
  content: "❤️‍🔥";
}
.hover-me5 a:hover:before {
  content: "🕊️";
}

.hover-me6 a:hover:before {
  content: "🫥";
}

.hover-me7 a:hover:before {
  content: "☕️";
}

/*.menu-toggle:hover {
  transform: scale(1.25);
}*/

.menu-toggle {
  cursor: pointer;
  border: none;
  color: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
  transition: transform 0.2s;
  margin: 10px 0;
}

.menu {
  text-align: left;
  font-size: 14px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 5px;
}

.menu ul li a {
  text-decoration: none;
}

.menu.active {
  display: block;
}

#draggable{
position: fixed;
  display: flex; /* Flexbox를 사용 */
  justify-content: center; /* 자식 요소들을 가운데 정렬 */
  align-items: center; /* 자식 요소들을 수직으로 가운데 정렬 */
  width: 25%;
  height: fit-content;
  background-color: greenyellow;
  bottom: 20px;
  right: 20px;
  cursor: grab;
  padding: 10px;
}


#back{
  gap: 10px;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.v-line {
  border-left : 1px solid black;
  height: 100%;
}