body {
  background-color: rgb(255, 255, 255);
  font-style: normal;
  color: rgb(0, 0, 0);
  padding: 15px;
  font-family: "Orbit", sans-serif;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(173,255,47,1) 0%, rgba(0,0,0,0) 30%);

}

h1 {
  font-family: "Orbit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  padding: 0;
  margin: -20px 0px 10px 0px;
  animation: animateText 1s ease-in-out forwards;

}

#title{
  width: 100%;
  margin-top: -10px;
  margin-bottom: 10px;

}


p {
  font-size: 1.2em;
}

#fix{

  margin-top: 10px;
  margin-bottom: 10px;
  
}

.container {
  overflow: scroll;

  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  height: 80vh;
  -webkit-overflow-scrolling: touch;

  
}

.gallery {
  
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px;
}

.gallery-item {
  width: 100%; /* 갤러리 아이템의 너비를 설정 */
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.gallery-item video {
  width: 100%;
  height: auto;
  display: block;

  transition: transform 0.2s;
}

.gallery-item video:hover {
  transform: scale(1.05);
}

.gallery-item p {
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 14px;
}



.name {
  font-size: 0.3em;
  border: solid 1px black;
  padding: 1px 6px 3px 6px;
  border-radius: 6em;
  text-decoration: none;
  line-height: 5em;
  background-color: white;
  word-break: keep-all;
}

.name:visited {
  color: black;
}

.name:hover {
  background-color: greenyellow;
  transition: 0.5s;
}

.icon {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: greenyellow;
  padding: 3px 12px 6px 12px;
  border-radius: 6em;
  font-size: 1.2em;
  pointer-events: none; /* Prevents icon from capturing hover events */
}

.hover-me a:hover:before {
  content: "❤️‍🔥";
}

.hover-me1 a:hover:before {
  content: "🌝";
}

.hover-me2 a:hover:before {
  content: "🥊";
}

.hover-me3 a:hover:before {
  content: "🎲";
}
.hover-me4 a:hover:before {
  content: "❤️‍🔥";
}
.hover-me5 a:hover:before {
  content: "🕊️";
}

.hover-me6 a:hover:before {
  content: "🫥";
}

.hover-me7 a:hover:before {
  content: "☕️";
}

.menu-toggle:hover {
  transform: scale(1.25);
}

.menu-toggle {
  cursor: pointer;
  border: none;
  color: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
  transition: transform 0.2s;
  margin: 10px 0;
}

.menu {
  display: none;
  text-align: left;
  font-size: 14px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  padding: 5px;
}

.menu ul li a {
  text-decoration: none;
}

.menu.active {
  display: block;
}

#draggable{
  position: absolute;
  display: flex; /* Flexbox를 사용 */
  justify-content: center; /* 자식 요소들을 가운데 정렬 */
  align-items: center; /* 자식 요소들을 수직으로 가운데 정렬 */
  width: 100%;
  height: fit-content;
  background-color: greenyellow;
  bottom: 0px;
  left: 0px;
  cursor: grab;
  padding: 10px;
  box-sizing: border-box;
}


